*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
}

[hidden] {
  display: none;
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--default-font-size);
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}

a,
a:visited {
  color: crimson;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.whole {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
}

.whole input[type='radio'] {
  margin: 0 0.2rem 0 0;
}

.non-twitter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.non-twitter .text {
  padding: 10px;
  word-break: keep-all;
  font-size: 16px;
  color: white;
  text-shadow: 0 0 10px white;
}

.target-user-info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.profile-image-area {
  margin-right: 10px;
}

.profile-right-area {
  line-height: 150%;
}

.profile-right-info .nickname {
  font-size: larger;
  font-weight: bold;
  color: #333;
}

.profile-right-info .username {
  color: #666;
}

.profile-right-targetlist {
  margin-top: 10px;
}

.profile-image {
  width: 60px;
  border-radius: 50%;
}

.chainblock-options {
  padding: 0 15px;
}

fieldset.chainblock-opt {
  margin: 10px 0;
  border: 2px solid #999;
  border-radius: 5px;
}

fieldset.chainblock-subopt {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chainblock-options label:hover {
  text-decoration: underline;
}

.chainblock-options label span {
  padding: 3px;
  color: #333;
}

.chainblock-options label input:checked ~ span {
  font-weight: bold;
  color: #000;
}

.description {
  padding: 10px 15px;
  word-break: keep-all;
  border-radius: 5px;
  background-color: aliceblue;
  color: navy;
}

.menu-item {
  width: 100%;
  padding: 15px;
  margin: 3px 0;
  border-radius: 30px;
  border: 1px solid gray;
  font-size: larger;
  background-color: white;
  color: black;
  cursor: pointer;
}

.menu-item:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.menu-item.execute-chainblock {
  border: 0;
  background-color: crimson;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px 5px #f063;
}

.menu-item.execute-chainblock:hover {
  background-color: crimson;
  color: white;
}

.menu-item:hover {
  text-decoration: underline;
  color: crimson;
}

.menu-item:hover .big-button-img {
  filter: none;
}

footer.info {
  margin-bottom: 10px;
  padding: 5px 15px;
  text-align: right;
}

.current-version {
  color: #333;
}
