<!DOCTYPE html>
<html lang="ko" ng-csp ng-app="RedBlockPopup">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="../vendor/AngularJS/angular-csp.css" />
    <link rel="stylesheet" href="popup.css" />
    <title>Red Block</title>
  </head>
  <body>
    <div class="whole" ng-controller="RedBlockPopupController">
      <div class="chainblock-options">
        <fieldset class="chainblock-opt" ng-disabled="!userName">
          <legend>차단 대상 <span class="user-name">{{ userName }}</span></legend>
          <label>
            <input type="radio" ng-model="options.targetList" name="chainblock-target" value="followers" />
            <span>팔로워</span>
          </label>
          <label>
            <input type="radio" ng-model="options.targetList" name="chainblock-target" value="friends" />
            <span>팔로잉</span>
          </label>
        </fieldset>
        <fieldset class="chainblock-opt" ng-disabled="!userName">
          <legend>필터</legend>
          <fieldset class="chainblock-subopt">
            <legend>내 팔로워</legend>
            <label>
              <input type="radio" ng-model="options.myFollowers" name="chainblock-my-followers" value="skip" /><span
                >냅두기</span
              >
            </label>
            <label>
              <input type="radio" ng-model="options.myFollowers" name="chainblock-my-followers" value="block" /><span
                >차단하기</span
              >
            </label>
          </fieldset>
          <fieldset class="chainblock-subopt">
            <legend>내 팔로잉</legend>
            <label>
              <input type="radio" ng-model="options.myFollowings" name="chainblock-my-followings" value="skip" /><span
                >냅두기</span
              >
            </label>
            <label>
              <input type="radio" ng-model="options.myFollowings" name="chainblock-my-followings" value="block" /><span
                >차단하기</span
              >
            </label>
          </fieldset>
          <div class="description">참고: 나와 맞팔로우중인 사용자는 위 옵션과 무관하게 <b>차단하지 않습니다</b>.</div>
        </fieldset>
        <div class="warnings"></div>
        <div class="menu">
          <button class="menu-item execute-chainblock" ng-click="executeChainBlock($event)" ng-disabled="!userName">
            <span>체인블락 실행</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
    <footer class="info">Red Block <span class="current-version"></span></footer>
    <script src="../vendor/browser-polyfill.min.js"></script>
    <script src="../vendor/AngularJS/angular.js"></script>
    <script src="popup.js"></script>
  </body>
</html>
