@import url('../ui/ui.css');

:root {
  --default-font-size: 14px;
  --popup-width: 550px;
}

/*
파이어폭스 오버플로우 메뉴에 팝업을 띄울 때 가로폭 크기가 작은 문제
https://discourse.mozilla.org/t/can-add-ons-webextensions-popups-determinate-whether-they-are-shown-in-the-overflow-menu-or-not/27937
https://bugzilla.mozilla.org/show_bug.cgi?id=1373490
popup-ui.tsx의 shrinkPopup 부분도 체크할 것
*/
@media screen and (width: 425px) {
  :root {
    --popup-width: 425px;
  }
}

@media screen and (width: 348px) {
  :root {
    --popup-width: 348px;
  }
}

[hidden] {
  display: none;
  visibility: hidden;
}

body.ui-tab {
  min-width: var(--popup-width);
}

body {
  min-height: 600px;
  word-break: keep-all;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.whole {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: var(--popup-width);
  padding: 0;
  margin: 0 auto;
  /* Whale 브라우저 + 오버레이 스크롤바에선 스크롤이 안 되는 버그가 있더라. */
  overflow-y: auto;
}

#app {
  flex-grow: 1;
}

.page {
  margin-top: 55px;
}

.ui-popup .hide-on-popup,
.ui-tab .hide-on-tab {
  display: none;
}

.Mui-checked span.MuiFormControlLabel-label.MuiTypography-body1 {
  font-weight: bold;
}

.target-user-info {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.profile-image-area,
.profile-right-area {
  margin-top: 5px;
}

.profile-image-area {
  margin-right: 10px;
}

.profile-right-area {
  overflow: hidden;
  width: 100%;
  line-height: 150%;
}

.profile-right-info .nickname {
  font-size: larger;
  font-weight: bold;
}

.profile-right-info .username a {
  color: inherit;
}

.profile-right-targettweet .tweet-content {
  border-left: 2px solid var(--mui-color-divider);
  padding-left: 5px;
  line-height: 130%;
  margin: 0;
  font-size: 12px;
  color: var(--mui-color-text-secondary);
  white-space: break-spaces;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 110px;
}

.profile-image {
  width: 60px;
  max-width: 60px;
  border-radius: 50%;
}

.chainblock-subopt label {
  margin: 0 5px;
}

.description {
  word-break: keep-all;
  margin: 10px 0;
  line-height: 150%;
  font-size: 14px;
}

.list-of-files {
  list-style-type: square;
  padding-inline-start: 1rem;
  margin: 5px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-content .confirm-message {
  flex-grow: 1;
}

.modal-controls {
  justify-content: center;
}

.wtf {
  font-size: smaller;
  color: var(--warning-text-color);
}
