*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --default-font-size: 16px;
}

body {
  font-size: var(--default-font-size);
  font-family: 'NanumGothic', 'Malgun Gothic', sans-serif;
}

a,
a:visited {
  color: crimson;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.whole {
  width: 480px;
  background-color: white;
}

.chainblock-options {
  padding: 0 15px;
}

.user-name:not(:empty)::before {
  content: '@';
  font-size: smaller;
  color: #999;
}

fieldset.chainblock-opt {
  margin: 10px 0;
  border: 2px solid #666;
  border-radius: 5px;
}

fieldset.chainblock-subopt {
  margin: 10px 0;
  border: 1px solid #999;
  border-radius: 5px;
}

.chainblock-options label:hover {
  text-decoration: underline;
}

.chainblock-options label span {
  padding: 3px;
  color: #333;
}

.chainblock-options label input:checked ~ span {
  font-weight: bold;
  color: #000;
}

.description {
  padding: 10px 15px;
  word-break: keep-all;
  border: 1px dotted royalblue;
  border-radius: 5px;
  background-color: aliceblue;
}

.menu-item {
  width: 100%;
  padding: 15px;
  margin: 3px 0;
  border-radius: 30px;
  border: 1px solid gray;
  font-size: larger;
  background-color: white;
  color: black;
  cursor: pointer;
}

.menu-item:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.menu-item.execute-chainblock {
  border: 0;
  background-color: crimson;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px 5px #f063;
}

.menu-item.execute-chainblock:hover {
  background-color: crimson;
  color: white;
}

.menu-item:hover {
  text-decoration: underline;
  color: crimson;
}

.menu-item:hover .big-button-img {
  filter: none;
}

footer.info {
  padding: 5px 15px;
  text-align: right;
}

.current-version {
  color: #333;
}
