<!DOCTYPE html>
<html lang="ko" ng-app="RedBlockOptionsApp" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Red Block</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="options.css">
  </head><body>
  <div class="whole">
    <div class="title">
      <strong>Red Block</strong>
    </div>
    <fieldset class="achtung" ng-controller="achtungController">
      <legend>주의사항:</legend>
      <details open>
        <summary style="cursor:pointer">주의사항:</summary>
        <p>확장프로그램 특성상 오차단 가능성이 상당이 높으므로 타겟 유저를 정할 땐 신중히 선택해주세요. <mark>이 확장프로그램으로 인한 사용자의 피해는 책임지지 않습니다.</mark></p>
        <p>내가 팔로우하거나 나의 팔로워는 차단하지 않습니다.</p>
        <p>위 사항에 동의하면 아래의 입력란에 "<mark>동의합니다</mark>"를 그대로 적어주세요. (복사해서 입력하셔도 무방합니다) <strong>동의하는 경우에만 확장프로그램이 작동합니다.</strong></p>
      </details>
      <input class="user-input" type="text" id="agreement-confirmation" placeholder="Q: 위 사항에 동의하십니까?"
        ng-model="agreement" ng-change="onChange()" k-input ng-model-options="{ debounce: 100 }">
    </fieldset>
    <fieldset class="require-agreement" ng-controller="optionsController" ng-disabled="isDisabled">
      <legend>설정: <strong class="not-implemented">일부 미구현</strong></legend>
      <form id="options-form">
        <div class="field">
          <label for="opt-followers-to-not-block">
            n명 이상의 팔로워를 가진 유저는 차단하지 않기:
          </label>
          <input required class="user-input" type="number" min="0" id="opt-followers-to-not-block" placeholder="기본값: 0" ng-model="options.skipIfFollowersMoreThan" ng-change="onChange()">
          <div class="description">
            <p>기관 및 단체의 공식계정의 차단을 줄일 수 있습니다. 이 값이 0이면 이 기능을 사용하지 않습니다.</p>
          </div>
        </div>
        <div class="field">
          <label>
            <input type="checkbox" ng-model="options.blockVerifiedUser" ng-change="onChange()">인증마크 붙은 유저도 차단하기
          </label>
        </div>
      </form>
    </fieldset>
    <fieldset class="require-agreement" ng-controller="f2bController" ng-disabled="isDisabled">
      <legend>즐겨차단 <small>(아래 유저의 팔로워를 수집하고 차단합니다)</small>:</legend>
      <f2b-user-list users="f2bUsers"></f2b-user-list>
    </fieldset>
  </div>
  <!-- scripts -->
  <script src="../vendor/browser-polyfill.min.js"></script>
  <script src="../vendor/lodash.js"></script>
  <script src="../vendor/angularjs1.js"></script>
  <script src="../scripts/extoption.js"></script>
  <script src="options.js"></script>
  </body>
</html>
