@charset 'utf-8';

.redblock-btn {
  display: none;
  padding: 1px 5px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
}

/* 보통 트윗. 트윗메뉴의 왼쪽에 버튼이 붙는다. */
div > .redblock-btn-tweet {
  margin-right: 15px;
}

/* 인용트윗 내부. 타임스탬프 오른쪽에 버튼이 붙는다. */
span > .redblock-btn-tweet {
  margin-left: 15px;
}

.redblock-btn-usercell {
  margin-left: 10px;
}

.redblock-oneclick-block-mode-enabled .redblock-btn.manual {
  display: inline-block;
}

.redblock-btn:hover {
  text-decoration: underline;
}

.redblock-block-btn + .redblock-block-btn {
  visibility: hidden;
}

.redblock-block-btn {
  background-color: firebrick;
  color: white;
}

/* Shinigami-eyes compatibility */
.assigned-label-transphobic .redblock-block-btn {
  display: inline-block;
  color: white !important;
}

.redblock-block-btn.suggested {
  display: inline-block;
  border-width: 2px;
  font-weight: bold;
  background-color: crimson;
}

.redblock-unblock-btn {
  background-color: seagreen;
  color: white;
}

.redblock-unblock-btn:hover {
  background-color: mediumseagreen;
  color: white;
}
