@charset 'utf-8';

.redblock-btn {
  display: none;
  padding: 1px 5px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 11px;
}

.redblock-btn-tweet {
  margin-right: 15px;
}

.redblock-btn-usercell {
  margin-left: 10px;
}

.redblock-oneclick-block-mode-enabled .redblock-btn.manual {
  display: inline-block;
}

.redblock-btn:hover {
  text-decoration: underline;
}

.redblock-block-btn.manual {
  background-color: transparent;
  color: firebrick;
}

.redblock-block-btn.suggested {
  display: inline-block;
  background-color: firebrick;
  color: white;
}

.redblock-unblock-btn {
  background-color: seagreen;
  color: white;
}

.redblock-unblock-btn:hover {
  background-color: mediumseagreen;
  color: white;
}
