@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.redblock-bg {
  position: fixed;
  padding: 10px;
  /* right으로 하면 모바일 트위터에서 트윗 작성버튼을 가리게 된다 */
  left: 5px;
  bottom: 5px;
  z-index: 9999;
  overflow: hidden;
}

hr.redblock-hr {
  margin: 3px 0;
}
.redblock-dialog {
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 70vw;
  box-shadow: 0 2px 10px #6666;
  animation: fade-in 0.5s;
  will-change: opacity;
  background-color: #fff;
}

progress.redblock-progress {
  width: 100%;
}

progress.redblock-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

progress.redblock-progress::-webkit-progress-value {
  background-color: crimson;
  border-radius: 10px;
}

progress.redblock-progress::-moz-progress-bar {
  background-color: crimson;
  border-radius: 10px;
}

.redblock-controls {
  margin: 5px 0;
}
.redblock-controls button {
  padding: 5px 30px;
  border: 0;
  border-radius: 50px;
  background-color: #666;
  color: white;
  font-size: larger;
  cursor: pointer;
}
.redblock-controls button:disabled {
  cursor: not-allowed;
}
.redblock-controls button ~ button {
  margin: 0 5px;
}
.redblock-blocked-user {
  font-weight: bold;
}
/* ---------- 모바일 ---------- */
.redblock-mobile .redblock-bg {
  background-color: rgba(0, 0, 0, 0.8);
}
.redblock-mobile .redblock-dialog {
  border-radius: 10px;
  min-width: 250px;
  width: 90vw;
  max-height: 95vh;
  font-size: 16px;
}
.redblock-mobile hr.redblock-hr {
  border-top: 1px solid;
  border-bottom: 0;
}
.redblock-mobile .redblock-controls {
  text-align: right;
}
.redblock-mobile button {
  padding: 10px 25px;
  border: 1px solid;
  font-size: 1.25em;
}
/* 버튼 순서가 차단-닫기 순이 되도록 */
.block-dialog button {
  float: right;
}
.redblock-mobile .redblock-controls button ~ button {
  margin: 0 20px;
}
.redblock-mobile .redblock-controls button:disabled {
  opacity: 0.4;
}

/* --- 야간모드 off --- */
.redblock-mobile-light .redblock-dialog {
  background-color: #fff;
  color: #000;
}
.redblock-mobile-light button {
  background-color: #ccc;
  border-color: #999;
}
.redblock-mobile-light .redblock-user {
  color: crimson;
  text-decoration: underline;
}
.redblock-mobile-light button.caution-btn {
  background-color: crimson;
  color: white;
}

/* --- 야간모드 on --- */
.redblock-mobile-dark .redblock-dialog {
  background-color: #141d26;
  color: #fff;
}
.redblock-mobile-dark button {
  background-color: #1b2836;
  border-color: #666;
}
.redblock-mobile-dark .redblock-user {
  color: #f47189;
  text-decoration: underline;
}
.redblock-mobile-dark button.caution-btn {
  background-color: crimson;
  color: white;
}
