.redblock-bg {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .6);
}
hr.redblock-hr {
  margin: 3px 0;
}
.redblock-dialog {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 450px;
  max-height: 80vh;
}
.redblock-titlebar {
  margin-bottom: 5px;
}
.redblock-title {
  font-size: 1.25em;
  font-weight: bold;
}
.redblock-title-extra {
  font-size: 1em;
}
.redblock-title-status {
  font-size: 1em;
}

progress.redblock-progress {
  width: 100%;
}

.redblock-controls .normal-btn {
  color: inherit;
}
.redblock-controls .btn:disabled {
  cursor: not-allowed;
}
.redblock-controls .btn ~ .btn {
  margin: 0 5px;
}

/* ---------- 모바일 ---------- */
.redblock-mobile .redblock-bg {
  background-color: rgba(0, 0, 0, .8);
}
.redblock-mobile .redblock-dialog {
  border-radius: 10px;
  min-width: 250px;
  width: 90vw;
  max-height: 95vh;
  font-size: 16px;
}
.redblock-mobile hr.redblock-hr {
  border-top: 1px solid;
  border-bottom: 0;
}
.redblock-mobile .redblock-controls {
  text-align: right;
}
.redblock-mobile .btn {
  padding: 10px 25px;
  border: 1px solid;
  font-size: 1.25em;
}
/* 버튼 순서가 차단-닫기 순이 되도록 */
.block-dialog .btn {
  float: right;
}
.redblock-mobile .redblock-controls .btn ~ .btn {
  margin: 0 20px;
}
.redblock-mobile .redblock-controls .btn:disabled {
  opacity: .4;
}

/* --- 야간모드 off --- */
.redblock-mobile-light .redblock-dialog {
  background-color: #fff;
  color: #000;
}
.redblock-mobile-light .btn {
  background-color: #ccc;
  border-color: #999;
}
.redblock-mobile-light .redblock-user {
  color: crimson;
  text-decoration: underline;
}
.redblock-mobile-light .btn.caution-btn {
  background-color: crimson;
  color: white;
}

/* --- 야간모드 on --- */
.redblock-mobile-dark .redblock-dialog {
  background-color: #141d26;
  color: #fff;
}
.redblock-mobile-dark .btn {
  background-color: #1b2836;
  border-color: #666;
}
.redblock-mobile-dark .redblock-user {
  color: #f47189;
  text-decoration: underline;
}
.redblock-mobile-dark .btn.caution-btn {
  background-color: crimson;
  color: white;
}
